---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main>
    <section class="first-view">
      <div class="center-logo">
        Musee L'Instant
      </div>
    </section>
  </main>
</Layout>

<style>
  .first-view {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background: #fff;
  }

  .center-logo {
    font-size: 22px;
    letter-spacing: .08em;
    font-weight: 400;
  }
</style>