---
import { SITE } from "../../config/site";
---

<span class="logo-text">
  {SITE.logoText}
</span>

<style>
  .logo-text {
    display: inline-block;
    color: var(--navigation-color);
    font-family: var(--site-font-family);
    font-size: var(--navigation-size);
    letter-spacing: .08em;
    font-weight: 400;
  }
</style>