---
import { SITE } from "../config/site";
---

<span class="logo-text">
  {SITE.logoText}
</span>

<style>
  .logo-text {
    display: inline-block;
    color: #111;
    font-size: 13px;
    letter-spacing: 0.08em;
    font-weight: 400;
  }
</style>