---
import Header from "../components/Header.astro";

const {
  title = "Musee L'Instant",
} = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>

  <body>
    <Header />
    <slot />
  </body>
</html>

<style>
  :global(html),
  :global(body) {
    margin: 0;
    background: #fff;
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
  }

  :global(*) {
    box-sizing: border-box;
  }
</style>